.jumbotron {

    margin-top: 20px;
    line-height: 22px
}

.table {

    margin-top: 13%;
    width: 98%;
}

.form-control {

    margin-bottom: 5px;
}

.material-icons {

    cursor: pointer;

}

.labelFontImput {

    font-size: 15px;
    margin-bottom: 0px;
}