<!DOCTYPE html>
<html ng-app="CadastroTarefa">
<head>
    <meta charset="UTF-8">
    <title>Cadatro Tarefa</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/angular/css/angular-material.css">
    <link rel='stylesheet prefetch' href='lib/angular/css/docs.css'>
    <link rel='stylesheet prefetch' href='fonts/icone.css'>
    <link rel='stylesheetmelhor' type="text/css" href='lib/projeto/css/projetoCSS.css'>

    <script src='lib/angular/angular.js'></script>
    <script src='lib/angular/angular-animate.min.js'></script>
    <script src='lib/angular/angular-route.min.js'></script>
    <script src='lib/angular/angular-aria.min.js'></script>
    <script src='lib/angular/angular-messages.min.js'></script>
    <script src='lib/angular/angular-material.js'></script>
    <script src='lib/angular/angular-locale_pt-br.js'></script>
    <script src='lib/filters/mask.js'></script>
    <script src='lib/projeto/js/projetoAngulaJS.js'></script>

    <script>
        /**
         * global nome da classe
         * @type {string}
         */
        NOME_CLASSE = 'br.com.supero.bean.Tarefa';

    </script>

</head>

<body ng-controller="CadastroTarefaCtrl">

<div class="jumbotron">
    <h3 style="text-align: center;">Lista de Tarefa</h3>
    <fieldset class="fieldset">
        <legend class="legend">{{'Lista ID: ' + objListaTarefa.id}}</legend>

            <form name="frmTarefa" enctype="multipart/form-data">

                <div id="campos" style="width: 100%;float: left;">

                    <div style="width: 23%;float: left;padding-right: 2%"><label class="labelFontImput">Título</label>
                        <input class="form-control" name="titulo" type="text" ng-model="tarefa.titulo" required
                               placeholder="Título"/>
                    </div>

                    <div style="width: 77%;float: left;padding-right: 2%"><label class="labelFontImput">Descrição:</label>
                        <input class="form-control" type="text" name="descricao" ng-model="tarefa.descricao" required
                               placeholder="Descrição"/>
                    </div>

                </div>

                <div class="alert alert-danger" ng-show="message" id="msg">
                    {{message}}
                </div>
            </form>

            <div style="width: 98%;text-align: center;float: left;">
                <button class="btn btn-primary" ng-click="salvar(tarefa)">Salvar</button>
                <button class="btn btn-primary" ng-click="cancelar()">Limpar</button>
                <button class="btn btn-primary" ng-click="listar(true)">Buscar Lista</button>
                <button class="btn btn-primary" ng-click="novaLista()">Nova Lista</button>
            </div>

            <table class="table table-striped" style="width: 98%; font-size: 15px">
                <tr>
                    <th style="width: 10%"><a href="" ng-click="ordenarPor('titulo')">Título</a></th>
                    <th style="width: 27%"><a href="" ng-click="ordenarPor('descricao')">Descrição</a></th>
                    <th style="width: 12%"><a href="" ng-click="ordenarPor('dataCriacao')">Data Criação</a></th>
                    <th style="width: 12%"><a href="" ng-click="ordenarPor('dataEdicao')">Data Edição</a></th>
                    <th style="width: 12%"><a href="" ng-click="ordenarPor('concluido')">Concluído</a></th>
                    <th style="width: 14%"><a href="" ng-click="ordenarPor('dataConclusao')">Data Conclusão</a></th>
                    <th style="width: 10%">ações</th>
                </tr>
                <tr ng-repeat="tarefa in listaTarefa  | orderBy:criterio:ordem">
                    <td>{{tarefa.titulo}}</td>
                    <td>{{tarefa.descricao}}</td>
                    <td>{{tarefa.dataCriacao}}</td>
                    <td>{{tarefa.dataEdicao}}</td>
                    <td>
                        <i class="material-icons" ng-click="trocarStatus(tarefa)" ng-show="tarefa.concluido">done</i>
                        <i class="material-icons" ng-click="trocarStatus(tarefa)" ng-show="!tarefa.concluido">clear</i>
                    </td>
                    <td>{{tarefa.dataConclusao}}</td>
                    <td>
                        <i class="material-icons" title="Editar" ng-click="getForId(tarefa);">&#xe254;</i>
                        <i class="material-icons" title="Deletar" ng-click="deletar(tarefa)"
                           class="material-icons">&#xE872;</i>

                    </td>

                </tr>
            </table>
    </fieldset>
</div>

</body>
</html>